@import "styles/constants";

.resizeButton {
  position: relative;
  width: 100%;
  padding: 0.2rem 0;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border: 3px solid $blackColor;
  border-radius: 25px;
  cursor: pointer;

  & svg {
    position: absolute;
    right: 1rem;
    top: 0.63rem;
    width: 1.5rem;
    rotate: 90deg;
  }
}

.projectBox {
  height: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
}

.hide {
  height: 0;
  overflow: hidden;
}
