@import "styles/constants";

.skillBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  background: $hazy;
  border-radius: 5px;
  font-weight: 600;
  color: $grayDark;
}
