@import "styles/constants";

.wrapper {
  width: 100%;
  text-align: center;
  padding: 15rem 0;
  background: linear-gradient(to right, $pastelColor, $pastelColor),
    url("../../../../assets/svg/bg.svg");

  & h1 {
    font-size: 3.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & p {
    max-width: 50rem;
    font-size: 1.4rem;
    margin: auto;
    margin-bottom: 3.1rem;
    color: $charcoalGrey;
  }
}
