@import "styles/constants";

.projectBox {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;

  & img {
    width: 100%;
  }
}

.projectInfo {
  & > h3 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  & > p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 3rem;
    color: $grayDark;
  }
}
